/**
 * <Avatar /> styles
 */

.container {
  composes: avatar from '@rabbitcc/stylekit/avatar.css';
}

.image {
  composes: img from '@rabbitcc/stylekit/avatar.css';
}

.circle {
  border-radius: 50%;
}

.round {
  border-radius: 6px;
}

.text {
  composes: container;
  font-weight: lighter;
  color: #fff;
}

/**
 * size
 */

@value small: 2rem;
@value normal: 2.5rem;
@value large: 3.5rem;
@value huge: 4.5rem;
@value ratio: 2.25;

.size-small {
  width: small;
  height: small;
}

.size-normal {
  width: normal;
  height: normal;
}

.size-large {
  width: large;
  height: large;
}

.size-huge {
  width: huge;
  height: huge;
}


/**
 * used for text avatar container
 */

.text.size-small {
  font-size: calc(small / ratio);
  line-height: small;
}

.text.size-normal {
  font-size: calc(normal / ratio);
  line-height: normal;
}

.text.size-large {
  font-size: calc(large / ratio);
  line-height: large;
}

.text.size-huge {
  font-size: calc(huge / ratio);
  line-height: huge;
}
